<section>
    <div class="container mt-5">
        <div class="row">
        {% for i in presets %}
        <div class="col">
        <div class="card shadow-lg" style="width: 18rem; margin-bottom:15px; background-color: rgba(247,247,248,0.75)">
          <img src="{{i.image}}" class="card-img-top" alt="{{i.id}}">
          <div class="card-body">
            <h4 class="card-title" style="text-align: center">{{i.title}}</h4>
            <h6 class="card-text"><label>Автор:</label> <b>{{i.author}}</b></h6>
            <h6 class="card-text"><label>Виджеты:</label> <b>{{i.widget_set}}</b></h6>
            <p class="card-text" style="text-align: right; color: green" > <b>{{i.rating}}</b></p>
            <hr style="border-width: medium; border-color: {% if i.private  %}crimson{% else %}green{% endif %}">
            <div class="btn-group ">
                <a href="{% url 'detail' i.uu_id %}" class="btn btn-outline-secondary active" aria-current="page"><i class="fa-solid fa-circle-info"></i></a>
                {% if user == i.author %}
                <a href="{% url 'edit' i.uu_id %}" class="btn btn-outline-secondary"><i class="fa-solid fa-pen-to-square"></i></a>
                <a href="{% url 'delete' i.uu_id %}" class="btn btn-outline-secondary"><i class="fa-solid fa-trash-can"></i></a>
                {% endif %}
            </div>
          </div>
        </div>
        </div>
        {% endfor %}
    </div>
    </div>
</section>
