<div class="container m-2  mx-auto" >
    <div class="text-center text-wrap">

        sfsdfsdf sdfsdsdx jkvnjkjxcvxb cvxbxcvbxcvb xcvbxcvbx cvbxcvbxc vbxcvbcvb xcvbxcvbxvcb
        xcvbxcvbxxxxxx vxbcv bcxb cvxbx cbxv ljknodnfjksd kjvsdnjvkn skjnvdjkn jksdn vkj
         sdnl sldjkvnjk dnkjvnsdkj nvjkds nkjdsv jknsdjkv nxckjnvdn vkjdnk vjnskj vnkjsd
         sjdkvbnkjdsnvkjnsdkj ndskj njksd kjsdn kjdnjk ndjk djk njkd kjd kjdskj ndskj nd
        sdkj bnkjdsn kjdnskj vdskj nkjd nkjdsnvkjdn vkjdn kjdsn kjvdn kjdskj vndkj dk
        sjdnvjkdsn kj nkjvndjkvnkjdsn kjdnjkvndkjsnvkjdsnkjndskjvnkjdsnvkjdsnvkjdsnvkjnds

    </div>
</div>

