<div class="dropdown">
    <button class="btn btn-outline-light dropdown-toggle btn-md" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <b>{{ user }}</b>
    </button>
    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark">
        <li><a class="dropdown-item" href="{% url 'create' %}">Добавить пресет</a></li>
        <li><a class="dropdown-item" href="{% url 'private' %}">Мои пресеты</a></li>
        <hr>
        <li><a class="dropdown-item" href="{% url 'download' 'IWDesktop' %}">Скачать IWDesktop</a></li>

        <hr>
        <li><a class="dropdown-item" href="{% url 'logout' %}">Выйти</a></li>
    </ul>
</div>