{% extends 'base.html' %}

{% block content %}

    <div style="align-content: center">
        <h4 style="text-align: center; margin-top: 30px">Результаты поиска "{{ search }}"</h4>
    </div>
    <div style="text-align: center">
        <form action="" method="get">
            <div class="btn-group" role="group" aria-label="Basic outlined example">
               <button type="submit" class="btn btn-outline-secondary" value="sort_title" name="sort">По названию</button>
               <button type="submit" class="btn btn-outline-secondary" value="sort_rating" name="sort">По рейтингу</button>
               <button type="submit" class="btn btn-outline-secondary" value="sort_author" name="sort">По автору</button>
                <input type="hidden" value={{ search }} name="q">
             </div>
        </form>
    </div>
    {% include 'components\card.html' %}

{% endblock %}
